<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Borrar</h4>
                        <p class="card-category">Complete los siguientes campos.</p>
                    </div>
                    <div class="card-body">
                        <form #eliminar="ngForm" (ngSubmit)="borrar()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">ID</label>
                                        <input type="number" [ngModelOptions]="{ standalone: true }" 
                                                           [(ngModel)]="id"
                                                           class="form-control"
                                                           required>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary pull-right" type="submit">Eliminar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
